<html>

    <head><title>AlgoDoc</title>
  </head>
  
  
    <body style=background-repeat:no-repeat;background-size:cover;background-image:url({{url_for('static' , filename = '266471.jpg')}})>
                <div style=width:60%;background:#cccccc;left:0;right:0;border-radius:15px;margin-right:auto;margin-left:auto;padding:20px;>
                <center><img src = {{url_for('static' , filename = 'logo.jpg')}} width=250px height=150px></center>
                    <div style=background:#fff;border-radius:15px;padding:10px;>
                        <center>
                        <h3>Know More</h3>
                             This App Uses A Branch Of Artificial Intellingence Known As Computer Vision To Predict What Respiratory Diseases The Person Has Just By Looking At Their X-Ray Image<br>
                             Please Make Sure That The Image Contains Only The X-Ray And No Other Text/Symbols<br>
                             Please note that the app is currently in its DEVELOPMENTAL PHASE<br>
                             The desktop apps have better accuracy than the web app . The desktop apps and web app have different threshold values (30% and 90% respectively)<br><br>
                             <b>Guidelines for Desktop App</b><br>
                             TO RUN : Navigate to the dist folder and double Click On The File 'AlgoDoc'

                             This will start up your Web Browser and will open your localhost url to spawn up the app and will also open your command prompt/termnial
                             Your connection to the localhost will be shutdown if you close your console

                             If the app dosent run it may be due to your antivirus stopping the execution of the app , please disable your antivius or whitelist AlgoDoc

                             NOTE : TO CLOSE THE APP , PLEASE CLOSE THE COMMAND PROMPT/TERMINAL ALONG WITH CLOSING YOUR BROWSER . OR ELSE THE APP WILL KEEP RUNNING ON THE LOCALHOST<br>
                             <br><b>Please note that a given X-ray can contain more than 1 disease</b>
                             </center>
                      
                  </div>
       
                </div>
    </body>
  
</html>
